{% extends 'base1.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
            
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">shop at store</h1>
            <p class="lead fw-normal text-white-50 mb-0">this is a fast growing ecommerce site</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align ="justify">
                    <br/><br/>
                Certainly! A shopping e-commerce site is an online platform where you can buy products or services from various sellers or brands. Think of it like a virtual shopping mall where you can browse through different stores without leaving your home.

When you visit a shopping e-commerce site, you'll typically see a homepage with various categories like electronics, clothing, home decor, etc. You can click on these categories to explore the different products available. You might also find a search bar where you can type in specific items you're looking for.

<br/> <br/>Once you find something you want to buy, you can usually click on it to see more details like price, size options (if applicable), customer reviews, and shipping information. If you decide to purchase the item, you can add it to your virtual shopping cart.

When you're done shopping, you can proceed to the checkout page. Here, you'll enter your shipping address and payment information. Most shopping e-commerce sites offer different payment options like credit/debit cards, PayPal, or other online payment methods.

After you complete your purchase, you'll receive a confirmation email with details about your order. Depending on the site and the shipping option you chose, you'll then receive your items either by mail or through a delivery service.

<br/><br/>Shopping e-commerce sites also often have features like customer reviews and ratings, so you can see what other people thought of the products before you buy them. They also have customer support in case you have any questions or issues with your order.

Overall, shopping e-commerce sites make it easy and convenient to buy things online, with a wide selection of products available and the ability to shop from anywhere with an internet connection.

                </p>






            </div>
    </div>
</div>

{% endblock %}